<table id="WarehouseManager" mat-table [dataSource]="currentLevel">
  
  <ng-container matColumnDef="stockItem">
    <th mat-header-cell *matHeaderCellDef>Stock Item</th>
    <td mat-cell *matCellDef="let element">{{element.stockItem}}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Current Minimum Threshold</th>
    <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
  </ng-container>

  <ng-container matColumnDef="change">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="changeQuantity(element)">Change</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<button mat-raised-button (click)="submitChanges()">Submit</button>
