<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container page-wrap">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h1 class="minutescript__logo"></h1></span>
      <span class="example-spacer"></span>
      <span>Login</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
  <mat-card id="main-card">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-card>
</div>

<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary" class="footer">
    <mat-toolbar-row class="footer-dark">
    <span class="example-spacer">CSC8004 Team 2 Project</span>
    <span>
      Help
    </span>
  </mat-toolbar-row>
</mat-toolbar>

</div>
