#selectionForm{
    margin: auto;
    text-align: center;
    width: 70%;
}

#selectionForm > * {
    margin: 1em;
}

#orderSummary {
    width: 70%;
    margin: auto;
}

#incorrectSelectionMsg {
    color: red;
}

.tooLow {
  background-color: indianred;
}
