<button *ngIf="isLoggedIn()" mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="warehouseMenu" *ngIf="this.checkPermissions().warehouse">Warehouse</button>
  <button mat-menu-item [matMenuTriggerFor]="restaurantMenu" *ngIf="this.checkPermissions().restaurant">Restaurant</button>
  <button mat-menu-item routerLink="/accounts">Account Manager</button>
  <!-- <a mat-menu-item routerLink="/restaurant-orders">Restaurant Orders</a> -->
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">Log Out</button>
</mat-menu>

<mat-menu #warehouseMenu="matMenu">
  <a mat-menu-item routerLink="/warehouse/total-stock">Total Stock</a>
  <a mat-menu-item routerLink="/warehouse/add-stock">Add Stock</a>
  <a mat-menu-item routerLink="/warehouse/restaurant-orders">View Restaurant Orders</a>
  <a mat-menu-item routerLink="/warehouse/warehouse-manager">Warehouse Manager</a>
  <a mat-menu-item routerLink="/warehouse/warehouse-stock-remove">Remove Stock</a>
</mat-menu>

<mat-menu #restaurantMenu="matMenu">
  <a mat-menu-item routerLink="/restaurant/query-stock">Total Stock</a>
  <a mat-menu-item routerLink="/restaurant/receive-stock">Receive Stock</a>
  <a mat-menu-item routerLink="/restaurant/order-stock">Order Stock</a>
  <a mat-menu-item routerLink="/restaurant/restaurant-manager">Restaurant Manager</a>
  <a mat-menu-item routerLink="/restaurant/restaurant-stock-remove">Remove Stock</a>
</mat-menu>

<mat-menu #driverMenu="matMenu">
  <a mat-menu-item routerLink="/total-stock">Total Stock</a>
  <a mat-menu-item routerLink="/add-stock">Add Stock</a>
</mat-menu>
